! urxvt config
URxvt*buffered: true
URxvt*cursorBlink: true
URxvt*font: xft:inconsolata:size=10:antialias=true
URxvt*depth: 32
URxvt*borderless: 1
URxvt*scrollBar: false
URxvt*loginShell: true
Urxvt*secondaryScroll: true # Enable Shift-PageUp/Down in screen
URxvt*saveLines: 5000
URxvt*termName: rxvt-unicode
! Extensions
URxvt*perl-lib: /usr/lib/urxvt/perl/
URxvt*perl-ext-common: default,matcher
URxvt*matcher.button: 1
URxvt.colorUL: yellow
URxvt*url-launcher: /usr/bin/xdg-open
! Catch ugly URLs
URxvt*cutchars: '"'()*<>[]{|}

! Transparent Background
URxvt*.transparent:true
URxvt*.shading: 20

! Zenburn color-scheme
URxvt*background: #3F3F3F
URxvt*foreground: #DCDCCC
URxvt*cursorColor: #DCDCCC
URxvt*cursorColor2: #FFFFEF
URxvt*colorUL: #8CD0D3
URxvt*underlineColor: #F0DFAF
URxvt*colorBD: #E0CF9F
URxvt*colorIT: #656555
!! black dark/light
URxvt*color0: #3F3F3F
URxvt*color8: #5F5F5F
!! red dark/light
URxvt*color1: #BC8383
URxvt*color9: #CC9393
!! green dark/light
URxvt*color2: #5F7F5F
URxvt*color10: #7F9F7F
!! yellow dark/light
URxvt*color3: #E0CF9F
URxvt*color11: #F0DFAF
!! blue dark/light
URxvt*color4: #7CB8BB
URxvt*color12: #8CD0D3
!! magenta dark/light
URxvt*color5: #DC8CC3
URxvt*color13: #DC8CC3
!! cyan dark/light
URxvt*color6: #93E0E3
URxvt*color14: #93E0E3
!! white dark/light
URxvt*color7: #D4D4C1
URxvt*color15: #FFFFFF 
